
  body{
    background: url("../images/timg (3).jpeg") no-repeat center;
background-image: url("../images/12.svg");
background-size: contain;
  }


  body {
    width: 800px;
    height: 600px;
    background: rgb(36, 202, 91);
  
  }
  
#dd {
  width: 320px;
}


/* li{
  width: 50;
  height: 50;
  float: right;
  
} */